@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  @apply bg-white dark:bg-gray-900;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

@layer base {
  html {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    @apply font-medium selection:bg-[#4042E3]/50;
  }
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 160px;
    height: 100px;
    margin-left: -80px;
    margin-top: -50px;
    border-radius: 5px;
    background: #1e3f57;
    animation: dot1_ 3s cubic-bezier(0.55, 0.3, 0.24, 0.99) infinite;
  }

  .loader:nth-child(2) {
    z-index: 11;
    width: 150px;
    height: 90px;
    margin-top: -45px;
    margin-left: -75px;
    border-radius: 3px;
    background: #6100ff;
    animation-name: dot2_;
  }

  .loader:nth-child(3) {
    z-index: 12;
    width: 40px;
    height: 20px;
    margin-top: 50px;
    margin-left: -20px;
    border-radius: 0 0 5px 5px;
    background: #6100ff;
    animation-name: dot3_;
  }

  @keyframes dot1_ {
    3%,
    97% {
      width: 160px;
      height: 100px;
      margin-top: -50px;
      margin-left: -80px;
    }

    30%,
    36% {
      width: 80px;
      height: 120px;
      margin-top: -60px;
      margin-left: -40px;
    }

    63%,
    69% {
      width: 40px;
      height: 80px;
      margin-top: -40px;
      margin-left: -20px;
    }
  }

  @keyframes dot2_ {
    3%,
    97% {
      height: 90px;
      width: 150px;
      margin-left: -75px;
      margin-top: -45px;
    }

    30%,
    36% {
      width: 70px;
      height: 96px;
      margin-left: -35px;
      margin-top: -48px;
    }

    63%,
    69% {
      width: 32px;
      height: 60px;
      margin-left: -16px;
      margin-top: -30px;
    }
  }

  @keyframes dot3_ {
    3%,
    97% {
      height: 20px;
      width: 40px;
      margin-left: -20px;
      margin-top: 50px;
    }

    30%,
    36% {
      width: 8px;
      height: 8px;
      margin-left: -5px;
      margin-top: 49px;
      border-radius: 8px;
    }

    63%,
    69% {
      width: 16px;
      height: 4px;
      margin-left: -8px;
      margin-top: -37px;
      border-radius: 10px;
    }
  }
  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    display: grid;
    justify-content: center;
    align-items: center;
    visibility: visible;
    z-index: 999;
    transition: all 0.3s linear;
  }

  .hide-preloader {
    z-index: -9999;
    visibility: hidden;
    opacity: 0;
  }
  .fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  .author-card {
    @apply bg-j-dark max-w-[300px] px-[50px] py-[15px] rounded-[36px] text-white text-center mx-auto;
  }

  .portfolio-card {
    @apply xxxs:w-[300px] md:w-[400px] lg:w-[450px] sm:h-[250px] md:h-[300px] lg:h-[305px];
  }

  .text-descr {
    opacity: 0;
    transform: translateY(40%);
    filter: blur(4px);
    transition: all 1.5s;
  }

  .text-descr > h3 {
    @apply mx-auto;
    max-width: 500px;
  }

  .service-card {
    @apply relative max-w-[350px] h-[250px] px-[20px] bg-j-dark shadow-lg shadow-j-dark/35 rounded-[39px] overflow-visible text-white;
  }

  .deadline-format {
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
  }

  .deadline-format > h3 {
    @apply text-j-dark dark:text-white font-bold text-[45px] pt-8 pr-5 text-center;
  }

  .span {
    @apply text-[20px] text-j-dark dark:text-white pb-3 pr-5 flex justify-center;
  }

  .contact-card {
    @apply xs:w-56 md:w-[310px] h-[86px] xs:text-lg md:text-2xl xs:p-5 md:p-10 bg-j-dark rounded-[12px] flex xs:gap-2 md:gap-4 items-center;
  }

  .contact-card i {
    @apply text-white border-2 rounded-full px-3 aspect-square flex items-center;
  }

  .contact-card h3 {
    @apply text-white;
  }

  /* For Animations */
  .hiddenYEl {
    opacity: 0;
    transform: translateY(40%);
    filter: blur(4px);
    transition: all 1.5s;
  }

  .hiddenXEl {
    opacity: 0;
    transform: translateX(8%);
    filter: blur(4px);
    transition: all 1.5s;
  }

  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    transform: translateX(0);
  }

  .exp-card {
    @apply bg-j-dark border-4 shadow-lg hover:-translate-y-2 hover:transition text-white rounded-[39px] p-[12px] px-[18px] pb-[20px];
  }

  /* Experience Cards Animation */
  .exp-card:nth-child(4) {
    transition-delay: 800ms;
  }

  .exp-card:nth-child(3) {
    transition-delay: 600ms;
  }

  .exp-card:nth-child(2) {
    transition-delay: 400ms;
  }

  .exp-card:nth-child(1) {
    transition-delay: 200ms;
  }
  /* Experience Cards Animation On Hover */
  .exp-card:nth-child(4):hover {
    transition-delay: 100ms;
  }

  .exp-card:nth-child(3):hover {
    transition-delay: 100ms;
  }

  .exp-card:nth-child(2):hover {
    transition-delay: 100ms;
  }

  .exp-card:nth-child(1):hover {
    transition-delay: 100ms;
  }

  /* Author Cards Animation */
  .author-card:nth-child(1) {
    transition-delay: 200ms;
  }
  .author-card:nth-child(2) {
    transition-delay: 400ms;
  }
  .author-card:nth-child(3) {
    transition-delay: 600ms;
  }
  .author-card:nth-child(4) {
    transition-delay: 800ms;
  }
  /* Author Cards Animation On Hover */
  .author-card:nth-child(1):hover {
    transition-delay: 100ms;
  }
  .author-card:nth-child(2):hover {
    transition-delay: 100ms;
  }
  .author-card:nth-child(3):hover {
    transition-delay: 100ms;
  }
  .author-card:nth-child(4):hover {
    transition-delay: 100ms;
  }
  /* Portfolio Card Animation */
  .portfolio-card:nth-child(1) {
    transition-delay: 100ms;
  }
  .portfolio-card:nth-child(2) {
    transition-delay: 300ms;
  }
  .portfolio-card:nth-child(3) {
    transition-delay: 500ms;
  }

  .switch {
    @apply absolute top-1 bottom-1 w-[40px] h-[40px] -z-10 bg-j-blue rounded-full transition duration-[4000ms];
    transition: all 0.3s linear;
    left: 0.6rem;
  }

  .slide .switch {
    left: 53%;
    transition: all 0.3s linear;
  }

  /* Navbar Media Queries */
  @media screen and (max-width: 976px) {
    .nav-header {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
    }
    .links-container {
      width: 100%;
      text-align: left;
      font-weight: bold;
      height: 0;
      overflow: hidden;
      transition: all 0.3s linear;
    }
    .show-links {
      height: 200px;
    }
    .links a {
      font-size: 1.1rem;
      text-transform: capitalize;
      letter-spacing: var(--spacing);
      display: block;
      transition: all 0.3s linear;
      font-weight: medium;
      padding: 0.75rem 0;
    }
    .nav-center {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }
  @media screen and (min-width: 976px) {
    .nav-center {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .links-container {
      height: auto !important;
    }
    .links {
      display: flex;
    }
    .links a {
      font-size: 1.1rem;
      text-transform: capitalize;
      letter-spacing: var(--spacing);
      display: block;
      transition: all 0.3s linear;
      margin: 0 1rem;
      padding: 0;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.scroll-smooth {
  scroll-behavior: smooth;
}

.btn-size {
  @apply sm:w-44 md:w-52 lg:w-56 sm:h-14 md:h-16 lg:h-16 sm:text-lg md:text-xl lg:text-2xl xxxs:px-4 xxxs:py-2 md:p-0 transition hover:-translate-y-2 flex justify-center items-center;
}

.language-button {
  @apply bg-white shadow-lg rounded-md transition hover:-translate-y-2;
  font-weight: bold;
  padding: 10px 20px; /* Adjust button size */
  border: none;
  color: transparent; /* Make text color transparent */
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-clip: text; /* For WebKit browsers */
  background-clip: text; /* For other browsers */
}

.kz-btn {
  background: linear-gradient(
    to right,
    #00a9e0,
    #f9d800
  ); /* Kazakhstan flag colors */
  -webkit-background-clip: text; /* Clip background to text */
  background-clip: text; /* Clip background to text */
}

.en-btn {
  background: linear-gradient(
    to right,
    #c8102e,
    #ffffff
  ); /* England flag colors */
  -webkit-background-clip: text; /* Clip background to text */
  background-clip: text; /* Clip background to text */
}

.ru-btn {
  background: linear-gradient(
    to right,
    #ffffff,
    #0000ff,
    #d52b1e
  ); /* Russia flag colors */
  -webkit-background-clip: text; /* Clip background to text */
  background-clip: text; /* Clip background to text */
}
